.fafazModal-wrapper {
    @include init;
    display: none;
    position: fixed;
    overflow: hidden;
    top: 0; left: 0; right:0; bottom:0;
    background-color: rgba(75,75,75, 0.75);
    cursor: zoom-out;
    justify-content: center;
    align-items: center;
}

.fafazModal-wrapper--isActive {
    display: flex;
    z-index: 999999;
}

.fafazModal-wrapper--scrollingContent {
    overflow-y: scroll;
    display: block !important;
}

.fafazModal-content {
    display: none;
    position:relative;
    max-width: calc(100vw - 2rem);
    cursor:default;
    border-radius: 0.25rem;

    .fafazModal-wrapper--isActive > & {
        display: block;
        animation-name: modal-animation;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    };

    .fafazModal-wrapper--scrollingContent > & {
        margin: 3% auto;
    }
    
    .fafazModal-wrapper--fullScreen > & {
        height:100%; 
        width: 100%; 
        max-width:100%;
        border-radius:0;
    }
}


@keyframes modal-animation {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
