.modal-overlay {
  *,
  *:before,
  *:after {
    box-sizing:border-box;
  }
  button {
    background-color:inherit;
    border:0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor:pointer;
    font-weight:bold;
  }
  a {
    text-decoration:none !important
  }
  a:focus,
  button:focus,
  select:focus,
  input:focus,
  textarea:focus {
    outline:0;
  }
}
