*,*:before,*:after {
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    margin:0;
    padding:0;
}

.u-clearfix, .u-clearfix:after {
    clear:both
}

.u-clearfix:before, .u-clearfix:after {
    content:'';
    display:table;
}


body {
    background-color:#fafafa;
}

body,p,h1,h2,h3,h4,h5,h6,div,ul,li,ol,table,tr,td,th,button,select,textarea,input {
    font-size:15px;
    font-family:'Encode Sans Expanded', sans-serif;
    font-weight:300;
    letter-spacing:0.05em;
}

.container-inner {
    width:600px;
    max-width:100%;
    margin:0 auto;
}

.header {
    position:relative;
    width:100%;
    font-size:18px;
    padding: 0 2em;
    height:60px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}


.header-title {
    color:#333;
    line-height:1;
    font-weight:500;
    font-size:1em;
}

.header-github {
    font-size:1em;
}
.header-github > svg {
    color:#333;
    vertical-align:-0.1em;
}

.container {
    display:block;
    height: calc(100vh - 60px);
    padding: 3rem 1rem;
}

.button-wrapper {
    margin-bottom:8em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-wrapper > p {
    line-height:1.8;
    text-align:center;
}
.button {
    cursor:pointer;
    outline:0;
    box-shadow:4px 4px 0 #eee;
    background-color:#fff;
    border:1px solid #333;
    color:#333;
    margin-bottom:1em;
    font-size:1.1em;
    height:45px;
    line-height:43px;
    padding:0 2em;
    border-radius:2px;
}
.button:hover {
    background-color:#fbfbfb;
}
.button:active {
    background-color:#f7f7f7;
    line-height: 45px;
}

/*** TEST ***/
.test {
    position: relative;
    background-color:#fff;
    margin: 0 auto;
    width: 500px;
    padding:20px;
}
.test--fullscreen {
    background-color: rgba(255,255,255, 0.9);
    text-align:center;
    padding-top: 45vh;
}

.test-item {
  overflow:hidden;
    display:block;
    height:75px;
    width: 100%;
    background-color:#f7f7f7;
    margin-bottom:20px;
}

.test-item:last-child {
    margin-bottom:0;
}

.controller {
    position: fixed;
    z-index: 9999999;
    left:20px;
    bottom:20px;
    width: 200px;
    border-radius: 5px;
    background-color:#fff;
    padding: 15px 20px;
}
.controller > button {
    cursor: pointer;
    user-select:none;
    border:0;
    font-size: 12px;
    padding: 10px 0;
    width: 100%;
    box-shadow: none;
    outline:0;
    background-color:#000;
    margin: 5px 0;
    color:#fff;
    
}
